*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 55px;
    line-height: 1.1;
    font-weight: 500;
    color: rgb(71 165 224);
}

h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    color: rgb(71 165 224);
}

h3 {
    font-size: 33px;
    line-height: 1;
    font-weight: 500;
    color: rgb(71 165 224);
}

p, span {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    color: rgb(71 165 224);
    border-bottom: 7px dotted rgb(71 165 224);
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

.page-content {
    padding: 50px 15px;
}

.btn {
    padding: 15px 10px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}

.btn:disabled, .btn.btn--primary:disabled {
    cursor: not-allowed;
    background: lightgray;
    border-color: lightgray;
    opacity: 0.7
}

.btn:hover:not([disabled]), .btn:focus:not([disabled]) {
    background: #000000;
    color: #fff;
}

.btn.btn--primary {
    background: lightskyblue;
    color: white;
    border: 2px solid lightskyblue;
}

.btn.btn--primary:hover:not([disabled]), .btn.btn--primary:focus:not([disabled]) {
    background: #fff;
    color: #000000;
}

/* Navbar */

.nav {
    padding: 20px 15px;
    background: rgb(245, 244, 244);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.4);
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.nav ul li {
    transition: all .1s ease;
    font-weight: 500;
}

.nav ul li:hover {
    padding-top: -2px;
}

.nav ul li:hover a {
    border-bottom: 2px dotted lightskyblue;
}

.nav ul li a {
    color: lightskyblue;
    font-weight: 700;
    font-size: 20px;
    transition: all .1s ease;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60%;
}

.form label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}

.form input, .form select {
    border-radius: 6px;
    background: transparent;
    border: 1px solid #000000;
    margin-bottom: 15px;
    padding: 10px 7px;
}

.form select {
    max-width: 150px;
}

.form .btn {
    align-self: flex-start;
    min-width: 200px;
}

.form.form-search {
    flex-direction: row;
    align-items: stretch;
    max-width: 80%;
}

@media(max-width: 767px){
    .form.form-search {
        max-width: 100%;
    }
}

.form.form-search input {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
} 

.form.form-search .btn {
    flex: 0;

}


/* Recipe listing */
 .recipe-listing .title {
     margin-bottom: 52px;
 }

.recipe-card {

    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.4);
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

.recipe-card__bg, .recipe-card__overlay {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.recipe-card__bg {
    /* background: linear-gradient(rgb(6 6 6 / 56%), rgb(62 61 61 / 47%)) !important; */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    transition: transform .2s ease-in-out;
}

.recipe-card__overlay {
    background: linear-gradient(rgb(6 6 6 / 56%), rgb(62 61 61 / 47%)) !important;
    transition: opacity .2s ease-in-out;
}

.recipe-card:hover .recipe-card__overlay {
    opacity: 0;
}

.recipe-card:hover .recipe-card__bg {
    transform: scale(1.1);
}

.recipe-card .recipe-card__category {
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: 500;
    max-width: fit-content;
    font-size: 23px;
    position: relative;
    left: 20px;
    bottom: 20px;
    text-transform: capitalize;
    z-index: 2;
}

.recipe-card .recipe-card__category.snack {
    background: rgb(247,247,247);
    background: linear-gradient(135deg, rgb(126, 53, 53) 0%, rgb(118, 59, 255) 100%);
}
.recipe-card .recipe-card__category.lunch {
    background: rgb(77,114,198);
    background: linear-gradient(135deg, rgba(77,114,198,1) 0%, rgb(117, 175, 214) 100%);
}
.recipe-card .recipe-card__category.dinner {
    background: rgb(198,77,77);
    background: linear-gradient(135deg, rgba(198,77,77,1) 0%, rgba(251,246,59,1) 100%);
}
.recipe-card .recipe-card__category.dessert {
    background: rgb(198,77,77);
    background: linear-gradient(135deg, rgba(198,77,77,1) 0%, rgba(203,59,255,1) 100%);
}


.recipe-card .recipe-card__details {
    background: rgb(230 230 230);
    padding: 16px 10px;
    z-index: 2;
}

.recipe-card .recipe-card__details-name {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.listing__item {
    padding: 10px 5px;
    display: block;
    width: 50%;
    border-bottom: 1px solid lightslategray;
}

.listing__item--inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.listing__item:hover {
    background: lightslategray;
    color: white;
}

/* Search */
.search__result-listing .search__result-item {
    /* margin-bottom: 20px; */
    /* padding: 10px 0; */
    width: 100%;
}

.search__result-listing .search__result-item {
    
}

.search__result-listing .search__result-item.search__result-item--border:not(:last-of-type) {
    border-bottom: 1px solid lightslategray;
}



/* Media queries */
@media(max-width: 767px){
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    p, span {
        font-size: 16px;
    }
}

@media(max-width: 440px){
    .title {
        text-decoration: underline 4px dotted;
        border-bottom: none;
    }
}