*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 35px;
    line-height: 1.1;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 15px 10px;
    background: transparent;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
}

.btn:disabled, .btn.btn--primary:disabled {
    cursor: not-allowed;
    background: lightgray;
    border-color: lightgray;
    opacity: 0.7
}

.btn:hover:not([disabled]), .btn:focus:not([disabled]) {
    background: #000000;
    color: #fff;
}

.btn.btn--primary {
    background: lightskyblue;
    color: white;
    border: 2px solid lightskyblue;
}

.btn.btn--primary:hover:not([disabled]), .btn.btn--primary:focus:not([disabled]) {
    background: #fff;
    color: #000000;
}

/* Navbar */

.nav {
    padding: 20px 0;
    background: rgb(245, 244, 244);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.4);
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.nav ul li {
    transition: all .1s ease;
    font-weight: 500;
}

.nav ul li:hover {
    padding-top: -2px;
}

.nav ul li:hover a {
    border-bottom: 2px dotted lightskyblue;
}

.nav ul li a {
    color: lightskyblue;
    font-weight: 700;
    font-size: 20px;
    transition: all .1s ease;
}

/* Form */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60%;
}

.form label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
}

.form input {
    border-radius: 6px;
    background: transparent;
    border: 1px solid #000000;
    margin-bottom: 15px;
    padding: 10px 7px;
}

.form .btn {
    align-self: flex-start;
    min-width: 200px;
}

.form.form-search {
    flex-direction: row;
    align-items: stretch;
    max-width: 80%;
}

@media(max-width: 767px){
    .form.form-search {
        max-width: 100%;
    }
}

.form.form-search input {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
} 

.form.form-search .btn {
    flex: 0;

}


/* Recipe listing */
.recipe-listing__details {
    margin-right: 20px;
}   


/* Search */
.search__result-listing .search__result-item {
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    display: block;
}

.search__result-listing .search__result-item {
    
}

.search__result-listing .search__result-item.search__result-item--border:not(:last-of-type) {
    border-bottom: 1px solid lightslategray;
}